a{
  font-family: 'Source Sans Pro', sans-serif;
}
p.pDescription{
  font-family: 'Source Sans Pro', sans-serif;
  color: #ffffff;
  font-size: 16px;
  padding-bottom: 50px;
  margin-bottom: 0;
}
div.card{
  border: 0;
}
div.card-body{
  background-color: #2f3236;
  width: 100%;
  height:545px;
  text-align: center;
  color: #ffffff;
}

div.card-footer{
  height: 56px;
  background-color: #0000008C;
}
p.copyrightOther{
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  color: #ffffff;
}
h1.card-title{
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  color: #2bd3d6;
  text-align: center;
  margin-bottom: 16px;
}

/* portfolioPage */
.newColor{
  background-color: #000000;
}
div.newColor{
  background-color: #000000;
}
.navbar-toggler-icon{
  background-color: #D3D3D3;
  border-radius: 5px;
}
button.portfolioButton{
  padding: 10px 20px;
  background-color: #000000;
  border: 1px solid #000000;
  border-radius: 5px;
  color: #2bd3d6;
  font-size: 20px;
  font-weight: bold;
}
button.portfolioButton:hover{
  color: #ffffff;
}
button.navbar-toggler.btn.btn-light{
  background-color: #D3D3D3;
}
@media (max-width: 300px){
  h1.card-title{
    font-size: 25px;
  }
  button.portfolioButton{
    font-size: 16px;
    padding: 10px 10px;
  }
  div.card-body{
    height: 100vh;
  }
}
