html, body{
  height: 100vh;
}
a{
  font-family: 'Source Sans Pro', sans-serif;
}
nav{
  text-align: left;
}
body.myBody{
  background-color: #2f3236;
}
button.navbar-toggler.btn.btn-light{
  background-color: #D3D3D3;
}
.navbar-toggler-icon{
  background-color: #D3D3D3;
  border-radius: 5px;
}
.newColor{
  background-color: #000000;
}
h1.card-title{
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  color: #2bd3d6;
  text-align: center;
  margin-bottom: 16px;
}
p.pDescription{
  font-family: 'Source Sans Pro', sans-serif;
  color: #ffffff;
  font-size: 16px;
  padding-bottom: 50px;
  margin-bottom: 0;
}
p.copyrightOther{
  margin: 0;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}
div.myRow{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
button.portfolioButton{
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: #000000;
  border: 1px solid #000000;
  border-radius: 5px;
  color: #2bd3d6;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
}
button.m-b{
  margin-bottom: 0;
}
button.portfolioButton:hover{
  color: #ffffff;
}
footer.newColor{
  background-color: #000000;
  height: 56px;
}
@media (max-width: 360px){
  h1.card-title{
    font-size: 25px;
  }
  button.portfolioButton{
    font-size: 16px;
    padding: 10px 10px;
  }
}
