html, body{
  height: 100vh;
}
body.myBody{
  background-color: #2f3236;
}
header.card-header{
  background-color: #000000;
  border: 0;
  border-radius: 0 !important;
}
a.nav-link{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
}
ul.nav a.nav-link:hover {
  color: #a39e9e !important;
}
button.navbar-toggler{
  background-color: #D3D3D3;
}
button.navbar-toggler:hover{
  background-color: #a39e9e;
  border-color: #a39e9e;
}
h1.card-title{
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  color: #2bd3d6;
  font-weight: bold;
  text-align: center;
  margin: 28px auto 22px;
}
div.card{
  border: 0;
  border-radius: 0;
}
div.card-body{
  height: 100vh;
  background-color: #2f3236;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 0;
  border-radius: 0;
}
button.portfolioButton{
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: #000000;
  border: 2px solid #2bd3d6;
  border-radius: 5px;
  color: #2bd3d6;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
}
button.m-b{
  margin-bottom: 0;
}
button.portfolioButton:hover{
  color: #ffffff;
  border: 2px solid #ffffff;
}
p.pDescription{
  font-family: 'Source Sans Pro', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding-bottom: 30px;
  margin-bottom: 0;
}
footer.card-footer{
    background-color: #000000;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    border: 0;
    border-radius: 0 !important;
}
